@using Runner.Business.Entities;
@inject NodeService nodeService
@inject BaseService baseService

<div class="container">

    <div class="box mt-4">
        <h3 class="title is-3">Agent Pool: @Node.Name</h3>
    </div>

    <div class="buttons mt-3">
        <button type="button" class="button is-primary" @onclick="baseService.BackNode">
            <span class="icon is-small">
                <i class="fa-solid fa-square-caret-left"></i>
            </span>
        </button>
        <button type="button" class="button is-info" @onclick="OnRefresh_Click">
            <span class="icon is-small">
                <i class="fa-solid fa-rotate-right"></i>
            </span>
            <span>Refresh</span>
        </button>
    </div>

    <div class="box mt-3">
        @if (Items != null)
        {
            <DataTable Items="Items">
                <Header>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>HeartBeat</th>
                    <th>LastExecuted</th>
                </tr>
                </Header>
                <Body Context="Item">
                <tr @onclick="@(_ => OnNavigateAgentPool_Click(Item))">
                    <td>@Item.Name</td>
                    <td>@Item.Status</td>
                    <td>@Item.HeartBeat</td>
                    <td>@Item.LastExecuted</td>
                </tr>
                </Body>
            </DataTable>
        }
    </div>
</div>

@code {

    [Parameter]
    public required NodeBase Node { get; set; }

    public List<Business.Entities.Agent.Agent>? Items { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await OnRefresh_Click();
    }

    public async Task OnRefresh_Click()
    {
        Items = await nodeService.ReadChilds<Business.Entities.Agent.Agent>(Node);
        StateHasChanged();
    }

    public void OnNavigateAgentPool_Click(NodeBase node)
    {
        baseService.FowardNode(node.Name);
    }
}
